<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="/favicon.ico" />
		<title>技术元素</title>
	</head>
	<body>
		<div class="container-narrow">
			<br>
			<br>
			<br>
			<form>
				<h1>The Technium</h1>
				<input id="query" type="text" class="input-username" name="input" placeholder="请输入" />
				<button id="board_btn" class="btn-large btn-primary" type="submit" class="btn">确认</button>
			</form>
		</div>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- <script src="/js/main.js"></script> -->
	</body>
</html>